<!DOCTYPE html>
<html>
<head>
  <title>HopSearch</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css'>

</head>
<body class="Site">

<%= react_component( "Navbar", { current_user: current_user, logged_in: logged_in? } ) %>

<div class="Site-content">
  <%= yield %>
</div>

<%= react_component("Footer") %>

<!-- JQuery Library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</body>
</html>
