<!DOCTYPE html>
<html>
<head>
  <title>HopSearch</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- JQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css'>

  <!-- Google Maps API script -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5XoQKm1DOTDsp89dm0rOJ6ey5jtBH-dU&callback=initMap"
    async defer></script>

</head>
<body class="Site">

<%= react_component( "Navbar", { current_user: current_user, first_name: current_user.first_name.downcase, logged_in: logged_in? } ) %>

<div class="Site-content">
  <%= yield %>
</div>

<%= react_component("Footer") %>

</body>
</html>
